/*#svg-scatter-container svg {*/
    /*display:block;*/
    /*margin:0 auto;*/
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


.active {
    font-weight: bold;
}

.node-label{
    font-weight: bolder;
}